<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="oxprobs_module">
		<SUBMENU id="oxprobs_displayarticles" cl="oxprobs_articles">
		</SUBMENU>
		<SUBMENU id="oxprobs_displaygroups" cl="oxprobs_groups">
		</SUBMENU>
		<SUBMENU id="oxprobs_delivery" cl="oxprobs_delivery">
		</SUBMENU>
		<SUBMENU id="oxprobs_users" cl="oxprobs_users">
		</SUBMENU>
		<SUBMENU id="oxprobs_displayorders" cl="oxprobs_orders">
		</SUBMENU>
		<SUBMENU id="oxprobs_pictures" cl="oxprobs_pictures">
		</SUBMENU>
	</MAINMENU>
    </OXMENU>
</OX>